<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletLogin</servlet-name>
        <servlet-class>Control.ControleLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginUsuarioDAO</servlet-name>
        <servlet-class>Control.loginUsuarioDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControleDesconto</servlet-name>
        <servlet-class>Control.ControleDesconto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControleUsuario</servlet-name>
        <servlet-class>Control.ControleUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControleAcesso</servlet-name>
        <servlet-class>Control.ControleAcesso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControleProduto</servlet-name>
        <servlet-class>Control.ControleProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControleCarrinho</servlet-name>
        <servlet-class>Control.ControleCarrinho</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlePagamento</servlet-name>
        <servlet-class>Control.ControlePagamento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlePedidoCompra</servlet-name>
        <servlet-class>Control.ControlePedidoCompra</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControleCategoria</servlet-name>
        <servlet-class>Control.ControleCategoria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControleSubCategoria</servlet-name>
        <servlet-class>Control.ControleSubCategoria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControleRelatorio</servlet-name>
        <servlet-class>Control.ControleRelatorio</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletLogin</servlet-name>
        <url-pattern>/ServletLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginUsuarioDAO</servlet-name>
        <url-pattern>/loginUsuarioDAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControleUsuario</servlet-name>
        <url-pattern>/ControleUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControleAcesso</servlet-name>
        <url-pattern>/ControleAcesso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControleProduto</servlet-name>
        <url-pattern>/ControleProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControleCarrinho</servlet-name>
        <url-pattern>/ControleCarrinho</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlePagamento</servlet-name>
        <url-pattern>/ControlePagamento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlePedidoCompra</servlet-name>
        <url-pattern>/ControlePedidoCompra</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControleCategoria</servlet-name>
        <url-pattern>/ControleCategoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControleSubCategoria</servlet-name>
        <url-pattern>/ControleSubCategoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControleDesconto</servlet-name>
        <url-pattern>/ControleDesconto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControleRelatorio</servlet-name>
        <url-pattern>/ControleRelatorio</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            60
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>

</web-app>
