<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletLogin</servlet-name>
        <servlet-class>Control.ServletLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultaCategoria</servlet-name>
        <servlet-class>Control.ConsultaCategoria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletSubCat</servlet-name>
        <servlet-class>Control.ServletSubCat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastroParceiro</servlet-name>
        <servlet-class>Control.CadastroParceiro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginUsuarioDAO</servlet-name>
        <servlet-class>Control.loginUsuarioDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControleUsuario</servlet-name>
        <servlet-class>Control.ControleUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControleAcesso</servlet-name>
        <servlet-class>Control.ControleAcesso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistraVenda</servlet-name>
        <servlet-class>Control.RegistraVenda</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EfetuarEntrada</servlet-name>
        <servlet-class>Control.EfetuarEntrada</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControleProduto</servlet-name>
        <servlet-class>Control.ControleProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControleCarrinho</servlet-name>
        <servlet-class>Control.ControleCarrinho</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlePagamento</servlet-name>
        <servlet-class>Control.ControlePagamento</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletLogin</servlet-name>
        <url-pattern>/ServletLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultaCategoria</servlet-name>
        <url-pattern>/ConsultaCategoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletSubCat</servlet-name>
        <url-pattern>/ServletSubCat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastroParceiro</servlet-name>
        <url-pattern>/CadastroParceiro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginUsuarioDAO</servlet-name>
        <url-pattern>/loginUsuarioDAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControleUsuario</servlet-name>
        <url-pattern>/ControleUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControleAcesso</servlet-name>
        <url-pattern>/ControleAcesso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistraVenda</servlet-name>
        <url-pattern>/RegistraVenda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EfetuarEntrada</servlet-name>
        <url-pattern>/EfetuarEntrada</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControleProduto</servlet-name>
        <url-pattern>/ControleProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControleCarrinho</servlet-name>
        <url-pattern>/ControleCarrinho</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlePagamento</servlet-name>
        <url-pattern>/ControlePagamento</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            60
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    <filter>
        <filter-name>AcessoAdministrativo</filter-name>
        <filter-class>Control.AcessoAdministrativo</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AcessoAdministrativo</filter-name>
        <url-pattern>/admin/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>AcessoVendedor</filter-name>
        <filter-class>Control.AcessoVendedor</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AcessoVendedor</filter-name>
        <url-pattern>/home.jsp</url-pattern>
        <url-pattern>/pdv.jsp</url-pattern>
        <url-pattern>/produtosConsultar.html</url-pattern>
        <url-pattern>/produtosHome.html</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>AcessoLogado</filter-name>
        <filter-class>Control.AcessoLogado</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AcessoLogado</filter-name>
        <url-pattern>/categoriaAlterar.html</url-pattern>
        <url-pattern>/categoriaCadastrar.html</url-pattern>
        <url-pattern>/categoriaConsultar.jsp</url-pattern>
        <url-pattern>/categoriaHome.html</url-pattern>
        <url-pattern>/categoriaInativar.html</url-pattern>
        <url-pattern>/categoriaPesquisar.html</url-pattern>
        <url-pattern>/categoriaMostrar.jsp</url-pattern>
        <url-pattern>/descontoCadastrar.jsp</url-pattern>
        <url-pattern>/descontoConsultar.html</url-pattern>
        <url-pattern>/descontoHome.html</url-pattern>
        <url-pattern>/home.jsp</url-pattern>
        <url-pattern>/estoque.html</url-pattern>
        <url-pattern>/parceirosAlterar.html</url-pattern>
        <url-pattern>/parceirosCadastrar.jsp</url-pattern>
        <url-pattern>/parceirosConsultar.jsp</url-pattern>
        <url-pattern>/parceirosHome.html</url-pattern>
        <url-pattern>/parceirosPesquisar.html</url-pattern>
        <url-pattern>/pdv.jsp</url-pattern>
        <url-pattern>/produtosAlterar.jsp</url-pattern>
        <url-pattern>/produtosCadastrar.jsp</url-pattern>
        <url-pattern>/produtosConsultar.html</url-pattern>
        <url-pattern>/produtosHome.html</url-pattern>
        <url-pattern>/produtosInativar.html</url-pattern>
        <url-pattern>/subCatAlterar.html</url-pattern>
        <url-pattern>/subCatCadastrar.jsp</url-pattern>
        <url-pattern>/subCatConsultar.html</url-pattern>
        <url-pattern>/subCatHome.html</url-pattern>
        <url-pattern>/subCatInativar.html</url-pattern>
        <url-pattern>/subCatPesquisar.html</url-pattern>
        <url-pattern>/subCat.jsp</url-pattern>
    </filter-mapping>
</web-app>
